body{
  background-image: url(./img/fruits-3.jpg);
  height: 100vh; 
  width: 100vw;
  /* background-repeat: no-repeat; */
  /* object-fit: cover; */
  /* background-position: center; */
}

li{
  list-style-type: none;
}

.logo{
  margin: 20px 0;
  text-align: center;
  /* box-shadow: 5px 3px 5px 3px #000; */
}

.title{
  font-weight: 700;
  text-shadow: 1px 2px 5px #000;
  padding: 5px;
  border-radius: 10px;
  color: rgb(250, 250, 250);
  margin: 10px 20px;
}

.container_principal{
  margin:20px;
  padding: 20px;
  justify-content: center;
  text-align: center;
 
}

.input_produto{
  text-align: start;
  width: 200px;
  padding: 9px 0;
  margin-bottom: 10px;
  padding-left: 5px ;
}

.search_form{
  margin: 0 auto;
}

.add_btn{
  margin: 0 10px;
}

/* List product */

.product{
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.product_item{
  background-color: #fff;
  padding: 5px 10px;
  min-width: 200px;
  text-align: start;
  border-radius: 5px;
  margin-right: 5px;
}

.check_btn{
  color: #fff;
}
.check_btn, .edit_btn, .delete_btn{
  cursor: pointer;
  transition: .5s;
}

.check_btn:hover, .edit_btn:hover, .delete_btn:hover{
  opacity: 0.7;
}

.two_btns{
  text-align: center;
  margin-top: 20px;
}


/*
====================
Estoque 
====================
*/

.estoque_container{
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 10px;
}

.background_input{
  width: 220px;
  background-color: #fff;
  border-radius: 5px;
  padding: 0 10px;
}


.estoque_title{
  text-shadow: 1px 2px 5px #000;
}

.alimento_text{
  color: red;
}

h4{
  color: #fff;
  text-shadow: 1px 2px 5px #000;
  font-size: 20px;
}

.btn_action{
  margin-top: 30px;
}

/*
====================
Tabela  
====================
*/


